<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Citas"
        tools:targetApi="31">
        <activity
            android:name=".ui.admin.managementAdminPqrs.registerAdminPqrs.RegisterAdminPqrsActivity"
            android:label="Registrar Admin PQRS"
            android:exported="false" />
        <activity
            android:name=".ui.admin.managementAdminPqrs.ManageAdminPqrsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pqrs.PqrsAdminActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.PqrsAdminActivity"
            android:exported="false" />
        <activity
            android:name=".ui.chat.ChatBotActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.reports.ReportsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.managementDates.editDate.EditDateActivity"
            android:exported="false" />
        <activity
            android:name=".ui.user.createDate.CreateDateActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.managementDates.ManageDatesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.lawyer.dates.GetLawyerDatesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.lawyer.EditLawyerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.ModifyAdminActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.managementLawyers.modifyLawyer.ModifyLawyerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.managementLawyers.registerLawyer.RegisterLawyerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.managementUsers.ManageUsersActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.managementLawyers.ManageLawyersActivity"
            android:exported="false" />
        <activity
            android:name=".ui.common.signup.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.user.modify.ModifyUserActivity"
            android:exported="false" />
        <activity
            android:name=".ui.user.getDates.GetUserDatesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.common.RestorePasswordActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="barcode, text, face" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.personeriatocancipa.app.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".ui.common.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.user.UserActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.AdminActivity"
            android:exported="false" />
        <activity
            android:name=".ui.lawyer.LawyerActivity"
            android:exported="false" />
    </application>

</manifest>